@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Ajusta el último valor (0.5) para cambiar la opacidad */
  z-index: -1;
} 

footer {
  margin-top: auto;
}

.container {
  padding: 2 1.5rem;
  max-width: 1280px;
  margin: 0 auto;
}

.loginInput {
  @apply mb-4 mt-2 w-full p-0.5 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-stone-500;
}

.linkNav {
  @apply rounded py-2 px-4 hover:bg-[#235291] transition duration-200 mr-16;
}

.buttons {
  @apply bg-[#85a6c9] text-[#ffffff] rounded p-2 hover:bg-[#235291] transition duration-200;
}

/* Estilos para el modal */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #235291;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-button {
  background: #235291;
  color: white;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
  transition: background 0.3s ease, color 0.3s ease;
}

.modal-button:hover {
  background: #5c83b600;
  color: black;
  transition: all 0.3s ease;
}

dialog[open] {
  scale: 1;
  transition: scale 0.3s ease-in-out;
}

dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: scale 0.3s ease, display 0.3s ease allow-discrete;
  scale: 0;
  top: 27%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  padding: 25px;
  z-index: 50;
  inset: 0;
}
